.big {
    font-size: 5em;
    color: rosybrown;
    font-style: italic;
}


.fade {
  opacity: 0.66;
}


.bottom-right {
  position: absolute;
  width: 200px;
  height: 450px;
  bottom: 1.5em;
  right: 2em;
  border: dashed red;
  border-top-left-radius: 1.5em;
}